<footer class="foot">
    <div class="footer-a-01">
        <h1 class="footer-txt-01">Amal Hawks Robotics</h1>
        <p class="footer-txt-02">Adnan Menderes Anadolu Lisesi <br> @7611amalhawks</p>
        <div class="iteam"><img src="{{base}}images/esg-logo.png" alt="ESG" class="esg-logo"></div>
    </div>
    <div class="footer-a-02">
        <div class="footer-pac-01">
            <h1 id="f1" data-i18n="footer.eduTitle">Eğitim Sayfaları</h1>
            <ul class="footer-list-01 list">
                <a href="{{base}}sunumlar.html" style="color: white; text-decoration: none;">
                    <li id="f2" class="footer-list-01"><i class="fa-solid fa-person-chalkboard" style="margin-right: 6px;"></i><span data-i18n="footer.presentations">Sunumlar</span></li>
                </a>
                <a href="{{base}}makaleler.html" style="color: white; text-decoration: none;">
                    <li id="f3" class="footer-list-01"><i class="fa-solid fa-newspaper" style="margin-right: 6px;"></i><span data-i18n="footer.articles">Makaleler</span></li>
                </a>
                <a href="{{base}}dersler.html" style="color: white; text-decoration: none;">
                    <li id="f4" class="footer-list-01"><i class="fa-solid fa-graduation-cap" style="margin-right: 6px;"></i><span data-i18n="footer.courses">Eğitimler</span></li>
                </a>
                <a href="{{base}}objeler.html" style="color: white; text-decoration: none;">
                    <li id="f5" class="footer-list-01"><i class="fa-solid fa-cube" style="margin-right: 6px;"></i><span data-i18n="footer.designs">Objeler</span></li>
                </a>
            </ul>
        </div>
        <div class="footer-pac-02">
            <h1 id="f6" data-i18n="footer.socialTitle">Sosyal Medya</h1>
            <ul class="footer-list-02 list">
                <a href="https://www.instagram.com/7611amalhawks/" target="_blank" rel="noopener" style="color: white; text-decoration: none;">
                    <li id="f7" class="footer-list-02"><i class="fa-brands fa-instagram" style="margin-right: 6px;"></i><span data-i18n="footer.instagram">Instagram</span></li>
                </a>
                <a href="https://www.linkedin.com/company/amalhawksrobotics" target="_blank" rel="noopener" style="color: white; text-decoration: none;">
                    <li id="f8" class="footer-list-02"><i class="fa-brands fa-linkedin" style="margin-right: 6px;"></i><span data-i18n="footer.linkedin">LinkedIn</span></li>
                </a>
                <a href="https://www.youtube.com/@amalhawks3723" target="_blank" rel="noopener" style="color: white; text-decoration: none;">
                    <li id="f9" class="footer-list-02"><i class="fa-brands fa-youtube" style="margin-right: 6px;"></i><span data-i18n="footer.youtube">YouTube</span></li>
                </a>
            </ul>
        </div>
    </div>
</footer>
