<footer class="foot">
    <div class="footer-a-01">
        <h1 class="footer-txt-01">Amal Hawks Robotics</h1>
        <p class="footer-txt-02">Adnan Menderes Anadolu Lisesi <br> @7611amalhawks</p>
        <div class="iteam"><img src="{{base}}images/esg-logo.png" alt="ESG" class="esg-logo"></div>
    </div>
    <div class="footer-a-02">
        <div class="footer-pac-01">
            <h1 id="f1" data-i18n="footer.eduTitle">Eğitim Sayfaları</h1>
            <ul class="footer-list-01 list">
                <a href="{{base}}sunumlar.html" style="color: white; text-decoration: none;">
                    <li id="f2" class="footer-list-01" data-i18n="footer.presentations">Sunumlar</li>
                </a>
                <a href="{{base}}makaleler.html" style="color: white; text-decoration: none;">
                    <li id="f3" class="footer-list-01" data-i18n="footer.articles">Makaleler</li>
                </a>
                <a href="{{base}}dersler.html" style="color: white; text-decoration: none;">
                    <li id="f4" class="footer-list-01" data-i18n="footer.courses">Eğitimler</li>
                </a>
                <a href="{{base}}objeler.html" style="color: white; text-decoration: none;">
                    <li id="f5" class="footer-list-01" data-i18n="footer.designs">Objeler</li>
                </a>
            </ul>
        </div>
        <div class="footer-pac-02">
            <h1 id="f6" data-i18n="footer.socialTitle">Sosyal Medya</h1>
            <ul class="footer-list-02 list">
                <a href="https://www.instagram.com/7611amalhawks/" target="_blank" rel="noopener" style="color: white; text-decoration: none;">
                    <li id="f7" class="footer-list-02" data-i18n="footer.instagram">Instagram</li>
                </a>
                <a href="https://www.linkedin.com/company/amalhawksrobotics" target="_blank" rel="noopener" style="color: white; text-decoration: none;">
                    <li id="f8" class="footer-list-02" data-i18n="footer.linkedin">LinkedIn</li>
                </a>
                <a href="https://www.youtube.com/@amalhawks3723" target="_blank" rel="noopener" style="color: white; text-decoration: none;">
                    <li id="f9" class="footer-list-02" data-i18n="footer.youtube">YouTube</li>
                </a>
            </ul>
        </div>
    </div>
</footer>
