# Sunucu ve Oturum Değişkenleri
SESSION_SECRET=
REGISTRATION_ENABLED=

# Firebase Authentication (İstemci & Sunucu)
FIREBASE_API_KEY=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
# veya tek satır JSON Service Account:
FIREBASE_SERVICE_ACCOUNT_JSON=
