# Sunucu ve Oturum Değişkenleri
SESSION_SECRET=
REGISTRATION_ENABLED=

# Nodemailer SMTP Ayarları (Örn: Brevo SMTP Relay veya Gmail SMTP)
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
SMTP_FROM=The Nest <parolasifirlamanest@gmail.com>
